button{
    
    background: rgba(255, 0, 0, 0.541);
    margin: 300px 700px;
    padding: 15px;
    border-radius: 15px;
}
button:hover{
    transform: scale(100, 1);
	transition: 10s;
    
}
button:active{
    transform: scale(0.01, 0.01);
	transition: 2s;
}